{% extends 'web\auth_base.html' %}
{% load static %}
{% block title %}
Login
{% endblock %}

{% block styles %}
<style>
    body {
        background-color: #f8f9fa;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }

    .login-container {
        background: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 2rem;
        max-width: 400px;
        width: 100%;
    }

    .login-container h2 {
        margin-bottom: 1.5rem;
    }
</style>
{% endblock %}

{% block auth %}
<div class="login-container">
    <div class="d-flex justify-content-center">
        <img src="{% static 'images\logo.png' %}" height="100px" alt="">
    </div>
    <h2 class="text-center header-pacifico-regular">Login</h2>
    <form>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter your password" required>
        </div>
        <button type="submit" class="btn btn-dark w-100">Login</button>
        <div class="d-flex justify-content-between mt-2">
            <a href="#">Forgot password?</a>
            <a href="{% url 'register_view' %}">New user?</a>
        </div>
    </form>
</div>
{% endblock %}